# tasks/manage_ssh_keys.yml
- name: Ensure authorized_keys directory exists
  file:
    path: /home/{{ ansible_facts['user_id'] }}/.ssh
    state: directory
    owner: "{{ ansible_facts['user_id'] }}"
    group: "{{ ansible_facts['user_id'] }}"
    mode: '0700'

- name: Add SSH public keys to authorized_keys
  authorized_key:
    user: "{{ ansible_facts['user_id'] }}"
    key: "{{ key }}"
    state: present
  loop: "{{ ssh_public_keys }}"
  loop_control:
    loop_var: item
  vars:
    key: "{{ item }}"
